body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fce4ec; /* Light pink background */
}

form {
    width: 40%; /* Adjusted width for a more compact form */
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #d81b60; /* Pink border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* White background for the form */
}

label {
    display: block;
    margin-bottom: 5px; /* Reduced margin for a tidier look */
    color: #4a148c; /* Darker shade of maroon for labels */
}

input, select {
    width: 100%;
    height: 40px; /* Increased height for better usability */
    margin-bottom: 15px; /* Reduced margin for a tidier look */
    padding: 10px;
    border: 1px solid #e91e63; /* Pink border for input and select */
    border-radius: 5px; /* Rounded corners for input and select */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

button[type="button"] {
    background-color: #d81b60; /* Pink button background */
    color: white; /* White text for button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #c2185b; /* Darker pink on hover */
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #880e4f; /* Dark maroon color for result text */
}